div.projects-stack
	div.projects-stack__col.projects-stack__col--lg
		a.project-card(href="#")
			div.project-card__img-w: img(src="media/img/project-grid-lg.png" alt="")
			div.project-card__decor
			div.project-card__text
				div.project-card__title Квартира в стиле минимализм
				div.project-card__subtitle Москва, Айвазовского, 7
	div.projects-stack__col
		a.project-card.project-card--sm(href="#")
			div.project-card__img-w: img(src="media/img/project-grid-sm-1.png" alt="")
			div.project-card__decor
			div.project-card__text
				div.project-card__title Квартира в стиле минимализм
				div.project-card__subtitle Москва, Айвазовского, 7

		a.project-card.project-card--sm(href="#")
			div.project-card__img-w: img(src="media/img/project-grid-sm-2.png" alt="")
			div.project-card__decor
			div.project-card__text
				div.project-card__title Квартира в стиле минимализм
				div.project-card__subtitle Москва, Айвазовского, 7