body
	font: normal 14px / 20px "Noto Sans", Helvetica, Arial, sans-serif
	background: $color-bg-sky
	min-width: 320px

//ul
	list-style: none

p
	font-size: 1em
//img
	max-width: 100%
	height: auto
	border: 0
	vertical-align: middle
a
	//font-family: 'Noto Sans', sans-serif
	color: $color-black--light
	font-size: 1em
	text-decoration: none
	transition: all .2s
	&:hover
		color: $color-orange
		text-decoration: none