mixin anotherService(title)
	div.another-service
		div.container
			a.service-link(href="#" data-aos="fade-up")
				div.service-link__img-w: img(src="media/img/services-preview/design.jpg" alt="")
				div.service-link__name.h3-like!= title