div.b-colors
	div.b-colors__item
		label.circle.is-black
			input(type="checkbox")
			span
	div.b-colors__item
		label.circle.is-white
			input(type="checkbox")
			span
	div.b-colors__item
		label.circle.is-pink
			input(type="checkbox")
			span
	div.b-colors__item
		label.circle.is-brown
			input(type="checkbox")
			span