div.b-share
	div.b-share__group
		div.b-share__item: a.b-share-link(href="#")
			i.icon-social-icon-01-fb
		div.b-share__item: a.b-share-link(href="#")
			i.icon-social-icon-02-tw
		div.b-share__item: a.b-share-link(href="#")
			i.icon-social-icon-03-pin