div.b-subscribe
	div.b-subscribe__inner.container
		h3.b-subscribe__title.text-center Get 10$ for your fist purchase!
		form.b-subscribe__form(action="/")
			div.b-subscribe__item.b-subscribe__item--name
				input.input-default(type="text" placeholder="Name")
			div.b-subscribe__item.b-subscribe__item--email
				input.input-default(type="email" placeholder="Your E-mail")
			button.b-subscribe__item.b-subscribe__item--submit.btn.btn--blob(type="submit") Subscribe!