div.b-tiles
	div.container
		ul.b-tiles-grid(data-tea-grid)
			li.b-tiles-grid__item
				a.b-tile.b-tile--lg(href="#")
					div.b-tile__title.b-tile__title--white.
						Walking shoes<br/>
						that give you<br/>
						comfort with<br/>
						each step
					div.pillow.pillow--tile
						div.pillow__title Shoes
						div.pillow__more
							div.d-inline-block.arr-right.mr-2
							| SHOW MORE
					img(src="media/img/tile-lg-1.jpg" alt="")

			li.b-tiles-grid__item
				div.row
					div.col-sm-6
						a.b-tile.b-tile--sm(href="#")
							div.b-tile__title Insoles
							img(src="media/img/tile-sm-1.jpg" alt="")
					div.col-sm-6
						a.b-tile.b-tile--sm(href="#")
							div.b-tile__title.clr-white Fitness tools
							img(src="media/img/tile-sm-2.jpg" alt="")
					div.col
						a.b-tile.b-tile--md(href="#")
							div.b-tile__title Food supplements
							img(src="media/img/tile-md-1.jpg" alt="")

			li.b-tiles-grid__item
				div.row
					div.col-sm-6
						a.b-tile.b-tile--sm(href="#")
							div.b-tile__title Sleep
							img(src="media/img/tile-sm-3.jpg" alt="")
					div.col-sm-6
						a.b-tile.b-tile--sm(href="#")
							div.b-tile__title.clr-white Active sitting
							img(src="media/img/tile-sm-4.jpg" alt="")
					div.col
						a.b-tile.b-tile--md(href="#")
							div.b-tile__title All goods
							img(src="media/img/tile-md-1.jpg" alt="")

			li.b-tiles-grid__item
				a.b-tile.b-tile--lg(href="#")
					div.b-tile__title.
						For<br/>
						improved<br/>
						body<br/>
						posture
					div.pillow.pillow--tile
						div.pillow__title Shoes
						div.pillow__more
							div.d-inline-block.arr-right.mr-2
							| SHOW MORE
					img(src="media/img/tile-lg-2.jpg" alt="")
