div.breadcrumbs
	a(class="breadcrumbs__link" href="#")
		i.icon-arrow.icon-flip.mr-3
		|Back
	a(class="breadcrumbs__link" href="#") Home
	a(class="breadcrumbs__link breadcrumbs__link--active" href="#") Catalog