extends master/master

block title
	title services-details
block content
	div.p-services-details
		+pageHead("Ремонт Квартир и домов")

		div.block.bg-white.pb-sm
			div.container-md.mb-md
				div.row
					- for (var i = 1; i <= 2; ++i)
						div.col-md-6
							p.
								В штате компании, есть как универсальные мастера, так и мастера узкого профиля. Все сложные работы, требующие профильных знаний (например, сантехнические или электромонтажные работы), выполняются грамотными специалистами, имеющими все необходимые допуски. Все процессы строительства и ремонта, контролируются одним из главных инженеров компании. Все сотрудники компании, имют высокую квалификацию и большой опыт в строительной сфере.
							p.
								Мы готовы предложить полный спектр ремонтно-строительных услуг, чтобы вы могли насладиться качеством и комфортом, отвечающим всем правилам безопасности.

			div.container
				div.jumb.jumb--sm(style="background-image: url(media/img/services-details-jumb.jpg)")
					div.jumb__line
					div.jumb__content
						div.h3-like.
							Минимализм и лаконичность<br/>
							для комфортной жизни
					div.jumb__line

		div.block
			div.container-md
				div.ddown-list-title список услуг по ремонту квартир и домов
				div.ddown-list
					- for(var y = 0; y < 3; y++)
						div.ddown
							div.ddown-head
								div.ddown-head__name Планировка помещения
								div.ddown-head__toggle
									div.plus
										div.plus__line-1
										div.plus__line-2

							div.ddown-body
								div.ddown-body__inner
									div.static-content
										p.
											Визуальный ряд, необходим для полного понимания вида будущего помещения. Качественно выполненная визуализация, полностью отображает вид готового помещения, с расставленной мебелью, декором и аксессуарами, выбранными клиентом. Часто, вместо полноценной визуализации, дизайнеры делают эскиз. Обычно эскиз, рисуется вручную и отображает общий вид будущего интерьера. По стоимости, эскиз стоит на порядок дешевле, полноценной 3D визуализации проекта.

										div.slick
											- for(var x = 0; x < 3; x++)
												div.slick__item: img(src="media/img/sd-service.jpg" alt="")

										p.
											Часто, человек сам контролирует процесс ремонта и по ходу стройки вносит коррективы или продумывает дизайн. Это, неизбежно влечет за собой увеличение сроков и удорожание цены, так как в памяти невозможно удержать все детали начальной задумки. В этом случае, мастера начинают постоянно отвлекать заказчика по множеству мелких вопросов. Дизайн-проект, позволит продумать эти мелочи на начальном этапе, позволяя избежать множества мелких и неприятных моментов в ремонте, а так же создать функциональный и детально проработанный интерьер будущего помещения.
										p.
											В компании reroom, есть как штатные дизайнеры и архитекторы, готовые помочь с подготовкой проекта будущего помещения, так и известные в России и за её пределами дизайнеры, с которыми мы сотрудничаем. Комплексный подход к ремонтным работам позволяет реализовать практически любой проект. Мы всегда идем навстречу и готовы предоставить необходимую информацию, а так же ответить на возникшие вопросы.

		div.block
			div.container
				include static-blocks/projects-stack

		include static-blocks/another-service