@font-face {
  font-family: "gulp-svg-font";
  src: url('../../media/fonts/svg-font/gulp-svg-font.eot');
  src: url('../../media/fonts/svg-font/gulp-svg-font.eot?#iefix') format('eot'),
  url('../../media/fonts/svg-font/gulp-svg-font.woff') format('woff'),
  url('../../media/fonts/svg-font/gulp-svg-font.ttf') format('truetype'),
  url('../../media/fonts/svg-font/gulp-svg-font.svg#gulp-svg-font') format('svg');
}

@mixin icon-styles {
  font-family: "gulp-svg-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == logo-old {
  $char: "\E001";
}
  @if $filename == logo {
  $char: "\E002";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %icon;
  } @else {
    @include icon-styles;
  }
  content: icon-char($filename);
}
}

.icon-logo-old {
  @include icon(logo-old);
}
.icon-logo {
  @include icon(logo);
}