div.breadcrumbs
	div.breadcrumbs__inner.container
		a.breadcrumbs__link(href="#") Главная
		a.breadcrumbs__link(href="#") О компании
		a.breadcrumbs__link.breadcrumbs__link--active(href="#") О компании-детали