footer.footer
	div.footer-top
		div.footer-top__inner.container
			div.footer-row
				div.footer-row__col
					ul.footer-list
						li
							a.group.text-nowrap(href="tel:+74952552172")
								i.icon-phone
								span +7 (495) 255 21 72
						li
							a.group(href="mailto:info@reroom.ru")
								i.icon-email
								span info@reroom.ru
						li
							div.group
								i.icon-map-point
								span Москва, 1-ый Кожуховский
					ul.footer-list
						li
							a.group(href="###")
								i.icon-instagram
								span Подписывайтесь на наш инстаграм!

				div.footer-row__col
					ul.footer-list.footer-list--sm
						li: a(href="#") Дизайн и проектирование
						li: a(href="#") Ремонт квартир и домов
						li: a(href="#") Ремонт офисов
						li: a(href="#") Строительство домов
						li: a(href="#") Проекты
					ul.footer-list.footer-list--sm
						li: a(href="#") Согласование перепланировок
						li: a(href="#") Технический надзор
						li: a(href="#") О компании
						li: a(href="#") Контакты


	div.footer-bot
		div.footer-bot__inner.container
			div.footer-bot__info
				div.footer-bot__copyright.
					© Reroom. 2013–2017. All Rights Reserved.
				div.footer-bot__dev
					a(href="https://www.dotorg.ru/") разработка сайта — dotorg

			button.footer-bot__scrolltop(type="button")
				i.icon-up