header.header
	div.header__inner.container-fluid

		//div.header__logo: img(src="media/img/logo.png" alt="")
		div.header__logo
			i.icon-logo-reroom

		//- div.header__right-bar
			a.phone(href="tel:+74993407032")
				i.icon-phone.mr-2
				span +7 499 340 70 32
			button.menu(data-mobile-nav)
				div.menu__icon
					div.hamburger
						span
						span
						span
						span
						span
						//- span
				div.menu__text
					div MENU


div.menu-panel
	div.menu-panel__inner
		a.phone(href="tel:+74993407032")
			div.phone__inner
				i.icon-phone.mr-2
				span +7 499 340 70 32
		button.menu#menu
			div.menu__icon
				div.hamburger
					span
					span
					span
					span
					span
					//- span
			div.menu__text
				div MENU

nav.navigation
	div.navigation__inner
		ul.nav
			li.nav__item.nav__item--current
				a.nav__link(href="#") Проекты
			li.nav__item
				a.nav__link(href="#") Дизайн и проектирование
			li.nav__item
				a.nav__link(href="#") Ремонт квартир и домов
			li.nav__item
				a.nav__link(href="#") Ремонт офисов
			li.nav__item
				a.nav__link(href="#") Строительство домов
			li.nav__item
				a.nav__link(href="#") Согласование перепланировок
			li.nav__item
				a.nav__link(href="#") Технический надзор
			li.nav__item
				a.nav__link(href="#") О компании
			li.nav__item
				a.nav__link(href="#") Услуги
			li.nav__item
				a.nav__link(href="#") Контакты



			//- div(data-remodal-target="modal") modal-link
