div.m-footer.uk-hidden-large
	div.m-footer__inner.uk-container
		div.uk-flex.uk-flex-space-between
			div
				a(href="#" class="m-footer__link")
					i.uk-icon-home
					span 홈
			div
				a(href="#" class="m-footer__link")
					i.uk-icon-envelope
					span 메세지
			div
				a(href="#" class="m-footer__link")
					i.uk-icon-bell
					span 메세지
			div
				a(href="#" class="m-footer__link")
					i.uk-icon-th-large
					span 마이페이지

div.footer
	div.footer__top.uk-block
		div.uk-container.uk-container-center
			div.uk-grid.footer__main-grid
				div.uk-width-medium-1-3.uk-width-large-1-4.uk-margin-bottom
					a(href="#" class="#")
						img(src="media/img/logo-footer.png" class="uk-hidden-small" alt="")
						img(src="media/img/footer-mobile-logo.png" class="uk-visible-small" alt="")
					p.
						회사명: 위드몬 (주)   대표자: 임민영   정보처리책임자: 이중원
						주소: 서울특별시 금천구 디지털로9길 99, 803호 (가산동, 스타밸리)
						통신판매업신고: 2016-서울금천-0056 호
						사업자번호: 667-87-00288
						업무 시간 : 09:00 ~ 18:00, 주말 · 공휴일 휴무

				div.footer__list-col.uk-width-medium-1-3
					div.uk-grid
						div.uk-width-1-2
							div.h4.headline-yellow.clr-white 사용자 메뉴
							ul.footer-list
								li
									a(href="#" class="footer-list__link") 메인페이지
								li
									a(href="#" class="footer-list__link") 이용안내
								li
									a(href="#" class="footer-list__link") 찾아오시는 길
								li
									a(href="#" class="footer-list__link") 로그인
								li
									a(href="#" class="footer-list__link") 회원 가입
						div.uk-width-1-2
							div.h4.headline-yellow.clr-white 이용관련 정보
							ul.footer-list
								li
									a(href="#" class="footer-list__link") FAQ
								li
									a(href="#" class="footer-list__link") 문의하기
								li
									a(href="#" class="footer-list__link") 판매자 등급
								li
									a(href="#" class="footer-list__link") 이용약관
								li
									a(href="#" class="footer-list__link") 개인정보 보호정책
		div.footer__bot
			div.footer__bot-inner.uk-flex.uk-flex-middle.uk-container.uk-container-center
				div.footer__social
					div.social
						div
							a(href="#" class="social__link"): img(src="media/img/social-twitter.png" alt="")
						div
							a(href="#" class="social__link"): img(src="media/img/social-fb.png" alt="")
						div
							a(href="#" class="social__link"): img(src="media/img/social-google.png" alt="")

				div.footer__contacts.uk-flex
					div E-mail : help@withmon.com
					div Tel : 1544-1817


				div.footer__copyright
					|© 2015 withmon.com
					a(href="#" class="m-analytics uk-hidden-large"): img(src="media/img/m-analytics.png" alt="")
