div.m-footer.uk-navbar.uk-hidden-medium
	div.m-footer-inner.uk-container
		div.uk-flex.uk-flex-space-between
			div
				a(href="#" class="m-footer-link")
					i.uk-icon-home
					span 홈
			div
				a(href="#" class="m-footer-link")
					i.uk-icon-envelope
					span 메세지
			div
				a(href="#" class="m-footer-link")
					i.uk-icon-bell
					span 메세지
			div
				a(href="#" class="m-footer-link")
					i.uk-icon-th-large
					span 마이페이지

div.footer
	div.footer-top.uk-block
		div.uk-container.uk-container-center
			div.uk-grid.footer-main-grid
				div.uk-width-medium-1-3.uk-margin-bottom
					a(href="#" class="footer-logo")
						img(src="media/svg/logo.svg" class="" data-uk-svg alt="")
					p.
						회사명: 위드몬 (주)   대표자: 임민영   정보처리책임자: 이중원
						주소: 서울특별시 금천구 디지털로9길 99, 803호 (가산동, 스타밸리)
						통신판매업신고: 2016-서울금천-0056 호
						사업자번호: 667-87-00288
						업무 시간 : 09:00 ~ 18:00, 주말 · 공휴일 휴무

				div.footer-list-col.uk-width-medium-1-3
					div.uk-grid
						div.uk-width-1-2
							div.h4.headline-yellow.clr-white 사용자 메뉴
							ul.footer-list
								li
									a(href="#" class="footer-list-link") 메인페이지
								li
									a(href="#" class="footer-list-link") 이용안내
								li
									a(href="#" class="footer-list-link") 찾아오시는 길
								li
									a(href="#" class="footer-list-link") 로그인
								li
									a(href="#" class="footer-list-link") 회원 가입
						div.uk-width-1-2
							div.h4.headline-yellow.clr-white 이용관련 정보
							ul.footer-list
								li
									a(href="#" class="footer-list-link") FAQ
								li
									a(href="#" class="footer-list-link") 문의하기
								li
									a(href="#" class="footer-list-link") 판매자 등급
								li
									a(href="#" class="footer-list-link") 이용약관
								li
									a(href="#" class="footer-list-link") 개인정보 보호정책
		hr.uk-grid-divider
		div.footer-bot
			div.footer-bot-inner.uk-flex.uk-flex-middle.uk-container.uk-container-center
				div.footer-social
					div
						a(href="#" class="uk-icon-button uk-icon-facebook")
					div
						a(href="#" class="uk-icon-button uk-icon-twitter")
					div
						a(href="#" class="uk-icon-button uk-icon-google-plus")

				div.footer-contacts.uk-flex
					div E-mail : help@withmon.com
					div Tel : 1544-1817


				div.footer-copyright
					|© 2015 withmon.com
					a(href="#" class="m-analytics uk-hidden-large"): img(src="media/img/m-analytics.png" alt="")
