header.header(data-uk-sticky)
	div.header-top.uk-navbar
		div.uk-container.uk-container-center.uk-flex.uk-flex-bottom
			a.uk-navbar-toggle.uk-hidden-large(href='#left-menu', data-uk-offcanvas='')

			a(href="#" class="logo"): img(src="media/svg/logo.svg" data-uk-svg alt="")

			div.search-block
				form.uk-form.search(action="")
					div.input-wrap.header-search-input
						input(class="" type="search" placeholder="원하는 서비스 검색")
					button.uk-button.uk-button-danger.header-search-btn
						i.uk-icon-search

			a.header__right-nav.uk-hidden-large(href='#right-menu', data-uk-offcanvas='')
				i.uk-icon-th

			div.header-ui.uk-flex.uk-flex-middle.uk-visible-large
				div.auth
					a(href="#") 로그인
					a(href="#") 무료 회원가입

	div.header-bot
		div.uk-container.uk-container-center
			nav.uk-navbar
				ul.uk-navbar-nav
					li.uk-parent(data-uk-dropdown="")
						a(href="#") 번역
						div.uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom
							ul.uk-nav.uk-nav-navbar
								li
									a(href='#') 로고 / 명함 디자인
								li
									a(href='#') 사진 / 포토샵
								li
									a(href='#') 웹 / 모바일 디자인
								li
									a(href='#') 일러스트 / 캐릭터
								li
									a(href='#') 블로그 / 카페

					li
						a(href="#") 문서작성
					li.uk-parent(data-uk-dropdown="")
						a(href="#") 마케팅
						div.uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom
							ul.uk-nav.uk-nav-navbar
								li
									a(href='#') 로고 / 명함 디자인
								li
									a(href='#') 사진 / 포토샵
								li
									a(href='#') 웹 / 모바일 디자인
								li
									a(href='#') 일러스트 / 캐릭터
								li
									a(href='#') 블로그 / 카페
					li
						a(href="#") 프로그래밍
					li
						a(href="#") 게임강의
					li
						a(href="#") 음악/영상
					li
						a(href="#") 과외/레슨
					li
						a(href="#") 생활서비스
					li
						a(href="#") 도와주세요
					li
						a(href="#") 디자인.

div#left-menu.uk-offcanvas
	div.uk-offcanvas-bar
		div.uk-panel
			ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav="")
				li.uk-nav-header left-menu
				li.uk-parent
					a(href="#") 문서작성
					ul.uk-nav-sub
						li
							a(href='#') 로고 / 명함 디자인
						li
							a(href='#') 사진 / 포토샵
						li
							a(href='#') 웹 / 모바일 디자인
						li
							a(href='#') 일러스트 / 캐릭터
						li
							a(href='#') 블로그 / 카페
				li
					a(href="#") 마케팅
				li
					a(href="#") 프로그래밍
				li
					a(href="#") 게임강의
				li
					a(href="#") 음악/영상
				li
					a(href="#") 과외/레슨
				li
					a(href="#") 생활서비스
				li
					a(href="#") 도와주세요
				li
					a(href="#") 디자인.

div#right-menu.uk-offcanvas
	div.uk-offcanvas-bar.uk-offcanvas-bar-flip
		div.uk-panel
			ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav="")
				li.uk-nav-header right-menu
				li.uk-parent
					a(href="#") 문서작성
					ul.uk-nav-sub
						li
							a(href='#') 로고 / 명함 디자인
						li
							a(href='#') 사진 / 포토샵
						li
							a(href='#') 웹 / 모바일 디자인
						li
							a(href='#') 일러스트 / 캐릭터
						li
							a(href='#') 블로그 / 카페
				li
					a(href="#") 마케팅
				li
					a(href="#") 프로그래밍
				li
					a(href="#") 게임강의
				li
					a(href="#") 음악/영상
				li
					a(href="#") 과외/레슨
				li
					a(href="#") 생활서비스
				li
					a(href="#") 도와주세요
				li
					a(href="#") 디자인.