div.b-project.project--preview
	div.h2 Реализованные проекты
	ul.b-project__grid
		li.b-project__item
			a(class="b-project-card" href="#")
				span.b-project-card__body
					span.b-project-card__i-wrap: img(src="media/img/project-card-1.jpg" alt="")
					span.u-arrow-item
						span.b-project-card__title.h4 ТРЦ «Метрополис»
						span.b-project-card__subtitle Москва, Ленинградское шоссе
					span.b-project-card__text.
						Разработка дополнений к СТУ, расчет пожарных рисков, разработка проектной документации
		li.b-project__item
			a(class="b-project-card" href="#")
				span.b-project-card__body
					span.b-project-card__i-wrap: img(src="media/img/project-card-2.jpg" alt="")
					span.u-arrow-item
						span.b-project-card__title.h4 Торговый Дом Книги
						span.b-project-card__subtitle Москва, Ленинградское шоссе
					span.b-project-card__text.
						Разработка дополнений к СТУ, расчет пожарных рисков, разработка проектной документации
		li.b-project__item
			a(class="b-project-card" href="#")
				span.b-project-card__body
					span.b-project-card__i-wrap: img(src="media/img/project-card-3.jpg" alt="")
					span.u-arrow-item
						span.b-project-card__title.h4 ТРЦ «Метрополис»
						span.b-project-card__subtitle Москва, Ленинградское шоссе
					span.b-project-card__text.
						Разработка дополнений к СТУ, расчет пожарных рисков, разработка проектной документации
	//block link
	a(class="btn b-project__btn" href="#") Каталог проектов