div.b-reviews
	div.h2 Отзывы клиентов
	ul.u-grid-1-2
		li
			div.review-card
				div.review-card__body
					div.review-card__i-wrap: img(src="media/img/review-doc.jpg" alt="")
					div.review-card__info
						div.review-card__title.h4 ООО "СЕВ.Р.ПРОЕКТ" Автоматизированный складской комплекс
						div.review-card__text.
							Наша компания обратилась к Вам с просьбой разработать дополнения к СТУ (изменения № 2), расчет пожарных рисков и проекта системы противопожарной защиты на объекте «Реконструкция магазина «Берингов пролив» под торгово-развлекательный центр» по адресу: г. Ивантеевка Московской области, Советский проспект, 2а. Наша компания обратилась
							к Вам с просьбой разработать дополнения
							к СТУ (изменения № 2), расчет пожарных рисков и проекта системы противопожарной защиты
							на объекте «Реконструкция магазина «Берингов пролив» под торгово-развлекательный центр» по адресу: г. Ивантеевка Московской области, Советский проспект, 2а. Мы увидели высокий рофессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания и  исполнили свои обязательства в установленный срок.
							Все это вместе позволило нашей компании сэкономить денежные средства и время при выполнении строительно-монтажных работ.
							Надеюсь на дальнейшее эффективное сотрудничество.
							Генеральный директор ООО «НЕО ЭСТЕЙТ», Суворов С.П.
							Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания и  исполнили свои обязательства в установленный срок.
							Все это вместе позволило нашей компании сэкономить денежные средства и время при выполнении строительно-монтажных работ.
							Надеюсь на дальнейшее эффективное сотрудничество.
							Генеральный директор ООО «НЕО ЭСТЕЙТ», Суворов С.П.
		li
			div.review-card
				div.review-card__body
					div.review-card__i-wrap: img(src="media/img/review-doc.jpg" alt="")
					div.review-card__info
						div.review-card__title.h4 ООО "СЕВ.Р.ПРОЕКТ" Автоматизированный складской комплекс
						div.review-card__text.
							Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.Мы увидели высокий профессионализм Ваших сотрудников, которые при выполнении проектных работ учли все наши пожелания
							и  исполнили свои обязательства
							в установленный срок.

	a(class="btn btn--push" href="#") Каталог проектов