.breadcrumbs.container.container--large
	a(class="breadcrumbs__link" href="#") Главная
	a(class="breadcrumbs__link" href="#") О компании
	a(class="breadcrumbs__link breadcrumbs__link--active" href="#") О компании-детали