.m-footer
	position: fixed
	bottom: 0
	left: 0
	z-index: 2
	width: 100%
	padding: 10px 0
	background: $color-white
	transform: translateY(100%)
	transition: all .2s
	&.is-visible
		transform: translateY(0%)
	span
		display: block
	a
		color: #aeaeae
		transition: color .2s
		&:hover, &:focus
			color: $color-orange
			text-decoration: none
	
.footer
	color: $color-white
	padding: 0 40px
	background: $color-black--light
	a
		color: $color-white
		&:hover, &:focus
			color: $color-orange
	+max-screen($big-tablet)
		padding: 0 20px
	+max-screen($common-tablet)
		padding-bottom: 60px
	&-top
		+max-screen($common-tablet)
			border-bottom: none
	&-main-grid
		//border-bottom: 1px solid #505050
		//padding-bottom: 30px
		ul
			list-style: none
		+max-screen($common-tablet)
			border-bottom: none
			flex-flow: column-reverse nowrap
	&-list-col
		position: relative
		margin-left: auto
		+max-screen($common-tablet)
			padding-top: 20px
			padding-bottom: 20px
		.headline-yellow
			display: inline-block
			font-size: 1.2em
			border-top: 2px solid $color-yellow--light
			padding-top: 10px
	&-logo
		display: block
		width: 160px
	&-bot
		//padding: 30px 0
		//padding-top: 30px
	&-bot-inner
		+max-screen($big-tablet)
			flex-flow: row wrap
	&-contacts
		font-size: 1em
		margin-left: 80px
		+max-screen($big-tablet)
			margin-left: auto
			margin-bottom: 20px
		+max-screen($small-tablet)
			flex-flow: column wrap
		+max-screen($smartphone-portrait)
			width: 100%
			display: block
			margin-left: 0
			//text-align: center
		div + div
			margin-left: 24px
			+max-screen($small-tablet)
				margin-left: 0
			+max-screen($smartphone-portrait)
				margin-top: 10px
				margin-left: 0
		.tel
			+max-screen($smartphone-portrait)
				display: block
	&-copyright
		font-size: 1em
		margin-left: auto
		+max-screen($big-tablet)
			width: 100%
		+max-screen($big-tablet)
			display: flex
			align-items: center
		.m-analytics
			+max-screen($big-tablet)
				margin-left: auto
	ul
		padding: 0
		li
			&:nth-child(1n+2)
				margin-top: 6px


	
.footer-social
	display: flex
	+max-screen($big-tablet)
		margin-bottom: 20px
	div
		&:nth-child(1n+2)
			margin-left: 26px
			+max-screen($big-tablet)
				margin-left: 20px
	.uk-icon-button
		width: 42px
		height: 42px
		font-size: 1.4em
		line-height: 42px
		color: $color-white
		&.uk-icon-facebook
			background: #55acee
		&.uk-icon-twitter
			background: #3b5998
		&.uk-icon-google-plus
			background: #dc4e41
		&:hover, &:focus
			color: $color-white
			&.uk-icon-facebook
				background: darken(#55acee, 6%)
			&.uk-icon-twitter
				background: darken(#3b5998, 6%)
			&.uk-icon-google-plus
				background: darken(#dc4e41, 6%)
