// override if need  usage: +container(maw, gutter)
$container-lg: 1280px
$container-md: 800px
$container-sm: 580px
$container-gutter: 20px

$section-offset: 100px
$section-sm-offset: 60px


.block-intro
	margin-bottom: 50px
	.title
		font-size: 2.2em
	.subtitle
		font-size: 1.4em


.custom-pager
	li
		a, span
			display: inline-block
			padding: 10px 12px
			border-radius: 5px
			background: transparent
			transition: all .2s
			+max-screen($small-tablet)
				padding: 5px 7px
		a
			&:hover
				background: #cecece
			&:focus
				color: $color-white
				background: $color-orange
	.uk-active
		a, span
			background: $color-orange
	.arrow-item
		&:first-child
			margin-right: 24px
			+max-screen($small-tablet)
				margin-right: 15px
		&:last-child
			margin-left: 24px
			+max-screen($small-tablet)
				margin-left: 15px
	.arrow
		background: $color-black--light
		color: $color-white
		font-size: 1.3em
	
	
	
	
	
	
	
	
	
	
	
	
	
	
//junk below
.wrap
	//overflow: hidden
	
.headline-yellow
	display: inline-block
	//font-size: 20px
	padding-top: 10px
	border-top: 2px solid $color-yellow

.container
	margin-left: auto
	margin-right: auto
	+clearfix
	&--lg
		max-width: $container-lg
		padding-left: $container-gutter
		padding-right: $container-gutter
		position: relative
	&--md
		max-width: $container-md
	&--sm
		max-width: $container-sm
