extends layout/master

block title
	title about
block content
	div.p-about
		+pageHead("About")

		div.container
			div.about-intro.d-flex
				div.about-intro__inner.container.d-flex.align-items-end
					div.pillow.is-white.is-lg.angle-left
						h1.about-intro__title.
							Life is movement.<br/>
							Movement is life

		div.container-md.block
			div.static-block
				h3 Our mission
				p Bringing fulfilment, happiness and improved quality of life through pursuing active lifestyle.

				h3 What we do
				p Make people healthier, happier through improving their quality of life.

				h3 Our story
				p.
					Our online story began when the company opened an online store in 2012 to allow patients with difficulty getting to a medical office to have access to professional, medical grade products from the comfort of their home. In the past 4 years, we have grown into a network of international companies with the same vision in providing our customers the best quality products. Our team of physicians has a common goal of providing the highest quality health-related products by hand-picking, testing products to add to our list of approved products for sale within Active Life Global Network. We adhere to strict criteria when evaluating consumable products to only include natural, non-GMO, organic, bio-sustainable sources.
				p.
					The heart of our operation starts with knowledgeable, passionately engaged staff who are committed to delivering superior personal/medical care products that support and enhance the quality of life through an active lifestyle. We are proud to announce the new milestone in 2016 with 99% of items ordered from our store are shipped the same or by the next business day.
				p.
					Active Life USA, based out of Pennsylvania, is part of Active Life Global Network including Canada, Singapore, and Vietnam. Our global network has plans to expand to Europe, to Japan and Mexico in the future. Contact us to know how to become a member of Active Life Global family.













		include static-blocks/b-subscribe