extends layout/master

block title
	title blog-details
block content
	div.p-blog-details
		+pageHead("How daylight saving time affects your health")

		div.container.mb-lg
			div.article
				div.article-info
					div.article-info__date 12.05.2017
					div.article-info__author Author: Lindsay Holmes
					div.article-info__tags #health

				div.static-block
					p.
						Here’s a bedtime story for you: A few centuries ago, a revolutionary man named Benjamin Franklin proposed a plan to get more people to enjoy the sunlight and save money on candles by changing the clocks, given that a dark sky seemed to take over earlier during certain months of the year.
					p.
						Most citizens of the world didn’t take his proposal seriously. Then 100 years later, along came British amateur bug collector George Vernon Hudson. He selflessly concocted a similar plan to alter time so that more light was available for his outdoor pursuits. Thus, daylight saving time was born, prompting people to push the time on their clocks forward an hour in the spring and back again an hour in the fall. Now it’s 2015 and the time switch is more of a nuisance than beneficial (it was invented to give more time for bug collecting, after all).
					p.
						The good news is that we’re now on the closing end of this year’s time-honored tradition, meaning your schedule gains a precious hour. But before you crank back that alarm or kick off your heels and celebrate Halloween for 60 more minutes, there are a few things you should know.
					p.
						Here’s how daylight saving time influences your health (and what you can do to minimize the effects):

					h2 The time change messes with your productivity
					img(src="media/img/article-img.jpg" alt="")

					p.
						A disruption in your sleep pattern may also cause a hiccup after you wake. Research shows the sleepiness caused by daylight saving time can lead to a loss in productivity the following day, according to a 2012 study published in the Journal of Applied Psychology. The time change also contributes to an increase in “cyberloafing,” or killing time on the Internet (step away from the cat videos).

					h2 There are more drowsy drivers during the time change

					img(src="media/img/article-img.jpg" alt="")

					p.
						Traffic accidents are more common around the start of daylight saving time in the spring, but there’s something to be said about the time change in general given that it affects a person’s sleep patterns (hint: it’s not good). Studies have found that having the same time all year could reduce the number of deaths from accidents, potentially saving up to 366 lives per year. Considering drowsy driving is more dangerous than driving under the influence, this is important to note. If you feel exhausted, avoid getting behind the wheel.
					p.
						The best way to avoid this dreaded grouchiness (or any of the negative health effects) is to prioritize sleep and continue to do so — before the next time change makes its reappearance in a few months.


		include static-blocks/b-subscribe