extends layout/master

block title
	title partners-program
block content
	div.p-partners-program
		+pageHead("Partners program")

		div.container
			+pageCard("partners-program.jpg", "Finding the right partners is critical for success. Experience how our brands and team of professionals can help guide you in creating most profitable strategy for your business.")

		div.container-md.block
			div.static-block
				h3 Partnership
				p Get our brands for your office or store: Fill out the form below and you will be contacted by one of our sales representatives to explain the process.
				p For immediate assistance feel free to call 1-717-409-5033 and ask about our ELITE DEALER CONSIGNMENT PROGRAM.

				a.btn.btn--blob(href="#") Send request



		include static-blocks/b-subscribe