extends master/master

block title
	title blog-details
block content
	div.p-blog-details

		div.block
			div.container
				+blockTitle("01", "Аксессуары Маст хэв")

				div.article(data-aos="slide-up" data-aos-duration="1600")
					div.article__head
						div.article__date 13 ЯНВАРЯ 2017
						div: img(src="media/img/blog-main.jpg" alt="")
					div.article__body
						div.container-md
							div.static-block
								h3 Асимметричные серьги
								p Ну вот совсем не ново. Тем не менее, все еще у многих домов на показах они были! Это могут быть одинаковые по модели серьги, но разные по цвету. Или одинаковые по материалам и цвету, но разные по размеру. Можно две разных серьги, но выполненные в одном стиле. Можно абсолютно разные! Вдохновляемся Balensiaga, Alexander McQueen ,YSL, Marni и CÉLINE.
								h3 Моносерьга
								p Еще один перекочевавший из прошлых сезонов тренд. И Marni ,CHANEL, BAIMAIN, YSL не стеснялись его демонстрировать. Кто еще не успел приобщиться к сему направлению в ювелирной моды – не тормозим, срочно ищем, какие серьги из вашей коллекции можно носить по одной? Я рекомендую выбирать крупные, длинные, яркие. Выгодная штука, скажу я вам! Идете в магазин с мамой, подругой, сестрой. Выбираете понравившийся вариант и приобретаете на двоих одну пару! Бюджетненький такой тренд.
								p Во второе ухо можно не надевать вообще ничего, если место прокола аккуратное. Если вас (как и меня) смущает дырка в ухе, то закрываем ее самой скромной мелкой пусетой, серьгой-гвоздиком с самым минималистичным дизайном.

								div.slick
									- for(var x = 0; x < 3; x++)
										div.slick__slide
											img(src="media/img/article-slide.jpg" alt="")

								h3 Микросумки-ключницы на острие моды
								p.
									Почему дизайнеры помешались на малютках, в которые не помещается даже смартфон.
									Фантазии дизайнеров путешествуют из крайности в крайность, и теперь любовь к оверсайзу переродилась в новую ступень. Пока она ярко проявляется в аксессуарных линиях. Сумки удивительно маленьких размеров прошагали по подиумам уже далеко не один раз — подобные «ключницы» появлялись у Fendi, Valentino, Furla, Givenchy, Hermès, а значит, скоро одна из таких должна быть у каждого уважающего себя модника.
								p.
									Масштаб аксессуара настолько мал, что в большинство из этих моделей не влезет даже смартфон — главный вечный спутник современности. Зачем же нас одарили настолько непрактичными миниатюрами? Не спешите с выводами.
								p.
									Помимо того что мини-спутницу можно носить на
									торжественные мероприятия, не перегружая ансамбль, она послужит идеальной помощницей для любительниц огромных объемных сумок. Малютку можно прикрепить на ручку более крупной особи, наполнив самым необходимым. Например, кредиткой и ключами. Так что вам не придется тратить время на поиски необходимых вещей в бездне своего любимого саквояжа.

				div.a-nav
					a.a-nav__item.a-nav__item--prev(href="#")
						div.a-nav__dir предыдущий
						div.a-nav__title 10 подарков без повода
					a.a-nav__item.a-nav__item--next(href="#")
						div.a-nav__dir следующий
						div.a-nav__title что дарить на день рождения



		div.feedback.block
			div.container
				+blockTitle("02", "как со мной связаться")

				include static-blocks/feedback